.font{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: blue;
    text-align: center;
}
.box{
    background-color: red;
    width: 150px;
    height: 150px;
    padding: 10px;
    box-shadow: -5px -5px  8px rebeccapurple;
}

.box:hover{
    background-color: blue;

}

.box:first-child{
    color: aqua;
}

.box:last-child{
    color:violet
}
.image{
    width: 50px;
    height: 75px;
}

.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

table, tr, td{
    border: 1px solid black;
}

button {
    background-color: aqua;
    color: blueviolet;
    border: none;
    padding: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px grey;
    padding: 10px;
}

.nav-item{
    text-decoration: none;
    color: #bd6957;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    font-family: "Open Sans", sans-serif;
    color: #bd6957;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
